/*  apartments fitler*/

input[type="checkbox"] {
  display: none;
}
.custom-sq {
  font-size: 16px;
  line-height: 20px;
}
.custom-sq label {
  cursor: pointer;
}
.custom-sq label:before {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  content: "\00a0";
  text-align: center;
  background: #eee;
}
.custom-sq label:hover::before {
  background: #bbb;
}
.custom-sq input:checked ~ label:before {
  content: "\2714";
  color: #bf9b30;
}

/* end of apartments fitler*/
